---
import ImageCarousel from "./ImageCarousel.astro";
const { id } = Astro.props;

const PROJECTS = [
  {
    title: "TeamPrideFamily Web - Freelance",
    parrafos: [
      "Web para el gimnasio TeamPrideFamily para móviles y tablets.",
      "En este proyecto me encargué de todo el contenido gráfico de la web, diseño, desarrollo y despliegue de la misma. En la web usé HTML, CSS y JavaScript puro para la interactividad aplicando lo aprendido durante el primer curso.",
      "Proyecto realizado entre el primer y segundo curso de DAW.",
    ],
    images: ["/oscar-casillas-portfolio/assets/projects/TPF/TPF-project.jpg", "/oscar-casillas-portfolio/assets/projects/TPF/TPF-project2.PNG", "/oscar-casillas-portfolio/assets/projects/TPF/TPF-project3.PNG"],
    tags: ["HTML", "CSS", "JavaScript"],
    github: null,
    demo: null,
    visitar: "https://www.teampridefamily.es/",
  },
  {
    title: "ReUsa - Proyecto TFC",
    parrafos: [
      "Proyecto colaborativo de TFC realizado para la venta de productos de segunda mano entre usuarios.",
      "Mi trabajo consistió en el diseño y creación de la base de datos, la creación Backend completo con SpringBoot usando un JWT como autenticador de peticiones y la implementación del diseño frontal con React y TypeScript con resolución de bugs y conexión con el Backend.",
      "También participé en el despliegue del proyecto con Render y Google Cloud Platform.",
    ],
    images: ["/oscar-casillas-portfolio/assets/projects/Reusa/Reusa-project2.PNG", "/oscar-casillas-portfolio/assets/projects/Reusa/Reusa-project3.PNG", "/oscar-casillas-portfolio/assets/projects/Reusa/Reusa-project4.PNG", "/oscar-casillas-portfolio/assets/projects/Reusa/Reusa-project.PNG"],
    tags: ["React", "SpringBoot", "MySQL","TypeScript", "GIT", "Postman"],
    github: "https://github.com/CasillasOscar/Proyecto_TFC/tree/main",
    demo: null,
    visitar: null,
  },
];
---

<section id={id}>
    <h2 class="text-2xl font-semibold text-heading mb-3">Proyectos</h2>
    <div class="grid grid-cols-[repeat(auto-fit,minmax(200px,1fr))] md:grid-cols-[repeat(auto-fit,minmax(450px,1fr))] gap-12 items-start">
      {
        PROJECTS.map((project) => (
          <article class="flex flex-col bg-white/5 rounded-xl transition-transform duration-300 hover:-translate-y-1 hover:z-10 hover:bg-white/10 border-2 border-gray-600 hover:border-[#A855F7]">
            <div class="card-image">
              <ImageCarousel images={project.images} alt={project.title} />
            </div>
            <div class="flex flex-1 flex-col p-6">
              <h3 class="text-xl font-bold mb-2 text-white">{project.title}</h3>
              <p class="description-first mb-4 text-gray-300 min-h-12">{project.parrafos[0]}</p>
              {project.parrafos.length > 1 && (
                <>
                  <div class="hidden">
                    {project.parrafos.slice(1).map((parrafo) => (
                      <p class="mb-4 text-gray-300">{parrafo}</p>
                    ))}
                  </div>
                  <button class="read-more-btn text-[#A855F7] hover:text-purple-400 mb-4 text-sm font-semibold focus:outline-none text-left w-fit cursor-pointer hover:underline">Leer más...</button>
                </>
              )}
              <div class="flex flex-wrap gap-2 my-4">
                {project.tags.slice(0, 3).map((tag) => (
                  <span class="px-3 py-1 rounded-full text-sm border-gray-700 bg-gray-800 hover:border-gray-500 text-gray-300 border hover:bg-gray-800/50 cursor-default">
                    {tag}
                  </span>
                ))}
                {project.tags.length > 3 && (
                  <>
                    <div class="hidden extra-tags">
                      {project.tags.slice(3).map((tag) => (
                        <span class="px-3 py-1 rounded-full text-sm border-gray-700 bg-gray-800 hover:border-gray-500 text-gray-300 border hover:bg-gray-800/50 cursor-default">
                          {tag}
                        </span>
                      ))}
                    </div>
                    <button class="show-tags-btn text-[#A855F7] hover:text-purple-400 text-sm font-semibold focus:outline-none cursor-pointer hover:underline self-center">Mostrar stack...</button>
                  </>
                )}
              </div>
              <div class="mt-auto flex gap-4">
                {project.github ? (
                  <a
                    href={project.github}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="px-4 py-2 rounded-md font-semibold text-center transition-opacity duration-200 hover:opacity-80 border border-(--text-primary,#fff) text-(--text-primary,#fff) cursor-pointer"
                  >
                    GitHub
                  </a>
                ) : (
                  <div class="relative group z-50">
                    <button class="px-4 py-2 rounded-md font-semibold text-center border border-gray-600 text-gray-600 cursor-not-allowed">
                      GitHub
                    </button>
                    <span class="absolute bottom-full left-1/2 -translate-x-1/2 mb-2 w-max px-2 py-1 bg-red-800 text-white text-xs rounded opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-200 pointer-events-none">
                      Repositorio no público
                    </span>
                  </div>
                )}
                {project.visitar || project.demo ? (
                  <a
                    href={project.visitar ? project.visitar : project.demo}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="px-4 py-2 rounded-md font-semibold text-center transition-opacity duration-200 hover:opacity-80 bg-[#A855F7] text-white cursor-pointer"
                  >
                    {project.visitar ? "Visitar" : "Demo"}
                  </a>
                ) : (
                  <div class="relative group z-50">
                    <button class="px-4 py-2 rounded-md font-semibold text-center border border-gray-600 text-gray-600 cursor-not-allowed">
                      Demo
                    </button>
                    <span class="absolute bottom-full left-1/2 -translate-x-1/2 mb-2 w-max px-2 py-1 bg-red-800 text-white text-xs rounded opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-200 pointer-events-none">
                      Demo no disponible
                    </span>
                  </div>
                )}
              </div>
            </div>
          </article>
        ))
      }
    </div>
</section>

<script>
  const buttons = document.querySelectorAll(".read-more-btn");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const content = button.previousElementSibling;
      const firstParagraph = content?.previousElementSibling;
      if(!content || !firstParagraph) return;
      content.classList.toggle("hidden");
      if (!content.classList.contains("hidden")) {
        firstParagraph.classList.remove("min-h-12");
      } else {
        firstParagraph.classList.add("min-h-12");
      }
      button.textContent = content.classList.contains("hidden") ? "Leer más..." : "Leer menos";
    });
  });

  const tagButtons = document.querySelectorAll(".show-tags-btn");
  tagButtons.forEach((button) => {
    button.addEventListener("click", () => {
      const extraTags = button.previousElementSibling;
      if(!extraTags) return;
      extraTags.classList.toggle("hidden");
      extraTags.classList.toggle("contents");
      button.textContent = extraTags.classList.contains("hidden") ? "Mostrar stack..." : "Cerrar stack...";
    });
  });
</script>
